.card {

  border-radius: 5px;
  border: none;
  background-color: map-get($colors, "secondaryL");
  box-shadow: $boxShadow;
  width: 100%;
  padding: 25px;
  color: map-get($colors, "third");
  margin-bottom: 2em;

  .card-title {

    text-transform: uppercase;
    font-family: map-get($fonts, "primary");
    font-weight: 700;
    font-size: .8em;
    color: map-get($colors, "gray");
    margin-bottom: 1em;
    width: 100%;

  }

}
