input[data-switch] {

  display: none;

  & + label {
    width: 56px;
    height: 24px;
    background-color: #f1f3fa;
    background-image: none;
    border-radius: 2rem;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    position: relative;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;

    &:before {
      color: #313a46;
      content: attr(data-off-label);
      display: block;
      font-family: inherit;
      font-weight: 600;
      font-size: .75rem;
      line-height: 24px;
      position: absolute;
      right: 3px;
      margin: 0 .21667rem;
      top: 0;
      text-align: center;
      min-width: 1.66667rem;
      overflow: hidden;
      -webkit-transition: all .1s ease-in-out;
      transition: all .1s ease-in-out
    }

    &:after {
      content: "";
      position: absolute;
      left: 4px;
      background-color: #adb5bd;
      -webkit-box-shadow: none;
      box-shadow: none;
      border-radius: 2rem;
      height: 18px;
      width: 18px;
      top: 3px;
      -webkit-transition: all .1s ease-in-out;
      transition: all .1s ease-in-out
    }

  }


  &:checked + label {
    background-color: map-get($colors, "primary");

    &:before {
      color: #fff;
      content: attr(data-on-label);
      right: auto;
      left: 4px
    }

    &:after {
      left: 34px;
      background-color: #f1f3fa
    }

  }

}

.form-check {

  .form-check-input {

    border-color: map-get($colors, "third");
    background-color: transparent;
    transition: .3s;

    &:focus {

      box-shadow: none;

    }

  }

  .form-check-label {

    transition: .3s;
    color: map-get($colors, "third");

  }

}

.form-group {

  margin-bottom: 2em;

  label {

    color: map-get($colors, "gray");
    margin-bottom: .5em;

  }

  .form-control,
  .form-select {

    background-color: map-get($colors, "secondaryLL");
    border-color: map-get($colors, "gray");
    color: map-get($colors, "third");

    &::placeholder {
      color: map-get($colors, "third");
    }

  }

}

.input-error {

  display: block;
  margin-top: .5em;
  color: #D34343;

}

