$colors: (
    "primary": #FA1E4B,
    "secondary": #343a40,
    "secondaryL": #3a444e,
    "secondaryLL": #464f5b,
    "secondaryLLL": #4D4D80,
    "third": #aab8c5,
    "gray": #8391a2,
    "white": #fff,
    "red": #D34343,
    "yellow": #ffbc00,
    "orange": #FF8700,
    "green": #43D390
);

$fonts: (
    "primary": "Nunito"
);

$boxShadow: 0px 0px 35px 0px rgba(49, 57, 66, 0.5);
