table.dataTable.no-footer {
    border-bottom: none;
}

table.dataTable thead>tr>th.sorting_asc:before, table.dataTable thead>tr>th.sorting_desc:after, table.dataTable thead>tr>td.sorting_asc:before, table.dataTable thead>tr>td.sorting_desc:after {
    opacity: 1;
}

.dataTables_wrapper {

    margin-top: 1em;

    .dataTables_length,
    .dataTables_filter {

        margin-bottom: 1.5em;

        label {

            color: map-get($colors, "third");

        }

    }

    input,
    select {

        background-color: map-get($colors, "secondaryLL");
        border-color: map-get($colors, "gray");
        color: map-get($colors, "third");
        height: 35px;

        &::placeholder {
            color: map-get($colors, "third");
        }

    }

    .dataTables_info,
    .paginate_button {

        color: map-get($colors, "gray") !important;

    }

}

table.dataTable {

    margin-bottom: 1em;

    .odd {
        background-color: map-get($colors, "secondaryLL");
    }

}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    color: map-get($colors, "gray") !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background-color: map-get($colors, "secondaryL");
    background: map-get($colors, "secondaryLL");
    border-radius: 50%;
    box-shadow: none;
    border: none;
}
