.c4 {

    background-color: #AA0000;

}

.cc {

    background-color: #FF5555;

}

.c6 {

    background-color: #FFAA00;
    color: map-get($colors, "secondaryLL") !important;

}

.ce {

    background-color: #FFFF55;
    color: map-get($colors, "secondaryLL") !important;

}

.c2 {

    background-color: #00AA00;

}

.ca {

    background-color: #55FF55;

}

.cb {

    background-color: #55FFFF;

}

.c3 {

    background-color: #00AAAA;

}

.c1 {

    background-color: #0000AA;

}

.c9 {

    background-color: #5555FF;

}

.cd {

    background-color: #FF55FF;

}

.c5 {

    background-color: #AA00AA;

}

.cf {

    background-color: #FFFFFF;
    color: map-get($colors, "gray") !important;

}

.c7 {

    background-color: #AAAAAA;

}

.c8 {

    background-color: #555555;

}

.c0 {

    background-color: #000000;

}
